* {
    padding: 0;
    margin: 0;
}
.navbar {
    padding: 1rem;
    background-color:#2899EB;
    color: #34D8EB;
}
.navbar a {
    text-decoration: none;
    font-weight: bold;
}
.container {
    margin: 2rem;
}

.home    {
    display: flex;
}

.home .nama {
    text-align: left;
    margin: auto;
    padding-right: 4rem;
}

.home .nama h2{
    margin-bottom: 1rem;
}

.gambar img {
    border-radius: 5%;
}
.section {
    margin-top: 1rem;
}

.img {
    margin: 1rem;
}

.container .home img {
    width: 23rem;
}

form {
    border: 1px solid #ccc;
    padding: 20px;
    width: 500px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}
