* {
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
}
h1 {
  padding: 2rem;
}

img {
  padding: 2rem;
  width: 16rem;
  border-radius: 50%;
}

.biodata {
  padding: 2rem;
  background-color: rgb(101, 243, 79);
}

.biodata p {
  padding: 2px;
  text-align: center;
}

nav {
  background-color: rgb(101, 243, 79);
  border: 1px 1px 1px 1px solid;
}
